.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid white;
    justify-content: center;
    margin: 0 auto;
    gap: 2px;
    background-color: white;

}

body {
    background-color: black;
    padding-top: 50px;
}

.container img:hover {
    opacity: 55%;
    cursor: pointer;
}

img {
    width: 100%;
}